# 안산시 고등학교 위치 시각화
#### 경기도 공공데이터: "경기데이터드림" 
- https://data.gg.go.kr/portal/data/service/selectServicePage.do?page=1&rows=10&sortColumn=&sortDirection=&infId=WL5ESBLQR3R5E8CQOX4U23432290&infSeq=2&order=&searchWord=%EA%B3%A0%EB%93%B1%ED%95%99%EA%B5%90

In [1]:
# 필요 모듈 임포트
import numpy as np
import pandas as pd

In [5]:
# 데이터 로드
gg_highschool = pd.read_excel('졸업생의진로현황(고과정,고등학교).xls',
                                encoding='utf-8')
gg_highschool.head()

,기준년도,시군명,지역교육청명,지역명,학교명,학교급명,설립구분명,주야간명,제외여부,제외사유,...,진학합계(명),진학비율(%),취업남자수(명),취업여자수(명),취업합계(명),취업비율(%),기타남자수(명),기타여자수(명),기타합계(명),기타비율(%)
0,2017,가평군,경기도교육청,경기도 가평군,가평고등학교,고등학교,공립,주간,N,NaN,...,252.0,82.6,11.0,8.0,19.0,6.2,22.0,12.0,34.0,11.1
1,2017,가평군,경기도교육청,경기도 가평군,조종고등학교,고등학교,공립,주간,N,NaN,...,67.0,72.0,1.0,1.0,2.0,2.2,17.0,7.0,24.0,25.8
2,2017,가평군,경기도교육청,경기도 가평군,청심국제고등학교,고등학교,사립,주간,N,NaN,...,74.0,80.4,0.0,0.0,0.0,0.0,14.0,4.0,18.0,19.6
3,2017,가평군,경기도교육청,경기도 가평군,설악고등학교,고등학교,공립,주간,N,NaN,...,48.0,92.3,1.0,0.0,1.0,1.9,3.0,0.0,3.0,5.8
4,2017,가평군,경기도교육청,경기도 가평군,청평고등학교,고등학교,공립,주간,N,NaN,...,37.0,46.8,17.0,5.0,22.0,27.8,18.0,2.0,20.0,25.3

In [4]:
# 안산 데이터만!
ansan_highschool = gg_highschool[gg_highschool["시군명"]=="안산시"]
ansan_highschool.head(1)

,기준년도,시군명,지역교육청명,지역명,학교명,학교급명,설립구분명,주야간명,제외여부,제외사유,...,진학합계(명),진학비율(%),취업남자수(명),취업여자수(명),취업합계(명),취업비율(%),기타남자수(명),기타여자수(명),기타합계(명),기타비율(%)
225,2017,안산시,경기도교육청,경기도 안산시 단원구,원곡고등학교,고등학교,공립,주간,N,NaN,...,343.0,73.3,6.0,1.0,7.0,1.5,73.0,45.0,118.0,25.2

### 고등학교 20곳의 주소를 가져와야 함.
- [Google Maps Geocoding API]https://developers.google.com/maps/?hl=ko
* 구글 맵스를 사용해서 고등학교의 주소, 위치(위도 좌표, 경도 좌표) 정보를 받아온다

In [10]:
import googlemaps

In [11]:
# https://developers.google.com/maps/documentation/geocoding/start?hl=ko
gmaps_key = "AIzaSyBMmFzBP6xVfugZ-ELAQ-KUgkonUKiH5eE" # 자신의 key를 사용합니다.
gmaps = googlemaps.Client(key = gmaps_key)

In [13]:
gmaps.geocode('안산 원곡고', language='ko')

[{'address_components': [{'long_name': '１５',
    'short_name': '１５',
    'types': ['premise']},
   {'long_name': '화랑로',
    'short_name': '화랑로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '원곡본동',
    'short_name': '원곡본동',
    'types': ['political', 'sublocality', 'sublocality_level_2']},
   {'long_name': '단원구',
    'short_name': '단원구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '안산시',
    'short_name': '안산시',
    'types': ['locality', 'political']},
   {'long_name': '경기도',
    'short_name': '경기도',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '425-130',
    'short_name': '425-130',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 경기도 안산시 단원구 원곡본동 화랑로 15',
  'geometry': {'location': {'lat': 37.3330986, 'lng': 126.797467},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.3344475802915,
     'lng': 126.7988159802915},
    'southwest': {'lat': 37.3317496197085, 'lng': 126.7961180197085}}},
  'place_id': 'ChIJK9ea0M5vezURsTR1_NZE9Wg',
  'types': ['establishment', 'point_of_interest', 'school']}]

In [14]:
# 데이터 내 모든 고등학교의 주소 얻기
school_addreess = []
school_lat = []
school_lng = []

for name in ansan_highschool['학교명']: # 조금 전 작업한 school_name에서
    tmp = gmaps.geocode("안산 " + name, language='ko') # 경찰서이름을 넣고, geocode 정보를 가져와 tmp에 저장한다.
    school_addreess.append(tmp[0].get("formatted_address")) # tmp[0]번째의 'formatted_address'를 가져와 school_address에 저장한다.
    
    tmp_loc = tmp[0].get("geometry") # tmp[0]번째의 'geometry' 정보를 tmp_loc에 저장한다.

    school_lat.append(tmp_loc['location']['lat']) # tmp_loc의 'location' 부분의 'lat'를 school_lat에 추가한다.
    school_lng.append(tmp_loc['location']['lng']) # tmp_loc의 'location' 부분의 'lng'를 school_lng에 추가한다.
    
    print(name + ' --> ' + tmp[0].get("formatted_address")) # 검색한 이름과 추가된 정보를 --> 로 구분하여 표현해 준다.

원곡고등학교 --> 대한민국 경기도 안산시 단원구 원곡본동 화랑로 15
선부고등학교 --> 대한민국 경기도 안산시 단원구 선부2동 990
신길고등학교 --> 대한민국 경기도 안산시 단원구 원곡동 신길로 45
광덕고등학교 --> 대한민국 경기도 안산시 상록구 월피동 236-37
명혜학교 --> 대한민국 경기도 안산시 상록구 사동 1273
안산동산고등학교 --> 대한민국 경기도 안산시 상록구 본오1동 충장로 56
대부고등학교 --> 대한민국 경기도 안산시 단원구 대부북동 697-6
양지고등학교 --> 대한민국 경기도 안산시 단원구 고잔동 713
한국선진학교 --> 대한민국 경기도 안산시 상록구 본오동 723-2
상록고등학교 --> 대한민국 경기도 안산시 상록구 본오3동 각골로4길 29
부곡고등학교 --> 대한민국 경기도 안산시 상록구 부곡동 446-3
초지고등학교 --> 대한민국 경기도 안산시 단원구 초지동 725-1
고잔고등학교 --> 대한민국 경기도 안산시 단원구 호수동 광덕2로 222
경안고등학교 --> 대한민국 경기도 안산시 단원구 고잔동 677
성포고등학교 --> 대한민국 경기도 안산시 상록구 성포동 충장로 538
성안고등학교 --> 대한민국 경기도 안산시 상록구 사동 1582
안산강서고등학교 --> 대한민국 경기도 안산시 단원구 와동 828
안산고등학교 --> 대한민국 경기도 안산시 상록구 안산동 청룡4길 8
단원고등학교 --> 대한민국 경기도 안산시 단원구 고잔동 단원로 55
송호고등학교 --> 대한민국 경기도 안산시 상록구 이동 665
안산고등학교 --> 대한민국 경기도 안산시 상록구 안산동 청룡4길 8
신길고등학교 --> 대한민국 경기도 안산시 단원구 원곡동 신길로 45
단원고등학교 --> 대한민국 경기도 안산시 단원구 고잔동 단원로 55
송호고등학교 --> 대한민국 경기도 안산시 상록구 이동 665
초지고등학교 --> 대한민국 경기도 안산시 단원구 초지동 725-1
성안고등학교 --> 대한민국 경기도 안산시 상록구 사동 1582
대부고등학교 --> 대한민국 경기도 안산시 단원구 대부북동 697-6
고잔고등학교 --> 대한민국 경기도 안산시 단원구 호수동 광덕2로 222
경안고등학교 --> 대한민국 경기도 안산시 단원구 고잔동 677
명혜학교 --> 대한민국 경기도 안산시 상록구 사동 1273
상록고등학교 --> 대한민국 경기도 안산시 상록구 본오3동 각골로4길 29
광덕고등학교 --> 대한민국 경기도 안산시 상록구 월피동 236-37
성포고등학교 --> 대한민국 경기도 안산시 상록구 성포동 충장로 538
선부고등학교 --> 대한민국 경기도 안산시 단원구 선부2동 990
부곡고등학교 --> 대한민국 경기도 안산시 상록구 부곡동 446-3
원곡고등학교 --> 대한민국 경기도 안산시 단원구 원곡본동 화랑로 15
한국선진학교 --> 대한민국 경기도 안산시 상록구 본오동 723-2
양지고등학교 --> 대한민국 경기도 안산시 단원구 고잔동 713
안산동산고등학교 --> 대한민국 경기도 안산시 상록구 본오1동 충장로 56
안산강서고등학교 --> 대한민국 경기도 안산시 단원구 와동 828
선부고등학교 --> 대한민국 경기도 안산시 단원구 선부2동 990
광덕고등학교 --> 대한민국 경기도 안산시 상록구 월피동 236-37
상록고등학교 --> 대한민국 경기도 안산시 상록구 본오3동 각골로4길 29
부곡고등학교 --> 대한민국 경기도 안산시 상록구 부곡동 446-3
신길고등학교 --> 대한민국 경기도 안산시 단원구 원곡동 신길로 45
송호고등학교 --> 대한민국 경기도 안산시 상록구 이동 665
단원고등학교 --> 대한민국 경기도 안산시 단원구 고잔동 단원로 55
성포고등학교 --> 대한민국 경기도 안산시 상록구 성포동 충장로 538
한국선진학교 --> 대한민국 경기도 안산시 상록구 본오동 723-2
명혜학교 --> 대한민국 경기도 안산시 상록구 사동 1273
초지고등학교 --> 대한민국 경기도 안산시 단원구 초지동 725-1
경안고등학교 --> 대한민국 경기도 안산시 단원구 고잔동 677
고잔고등학교 --> 대한민국 경기도 안산시 단원구 호수동 광덕2로 222
안산강서고등학교 --> 대한민국 경기도 안산시 단원구 와동 828
안산고등학교 --> 대한민국 경기도 안산시 상록구 안산동 청룡4길 8
안산동산고등학교 --> 대한민국 경기도 안산시 상록구 본오1동 충장로 56
양지고등학교 --> 대한민국 경기도 안산시 단원구 고잔동 713
원곡고등학교 --> 대한민국 경기도 안산시 단원구 원곡본동 화랑로 15
대부고등학교 --> 대한민국 경기도 안산시 단원구 대부북동 697-6
성안고등학교 --> 대한민국 경기도 안산시 상록구 사동 1582

In [15]:
# 주소 확인
school_addreess

['대한민국 경기도 안산시 단원구 원곡본동 화랑로 15',
 '대한민국 경기도 안산시 단원구 선부2동 990',
 '대한민국 경기도 안산시 단원구 원곡동 신길로 45',
 '대한민국 경기도 안산시 상록구 월피동 236-37',
 '대한민국 경기도 안산시 상록구 사동 1273',
 '대한민국 경기도 안산시 상록구 본오1동 충장로 56',
 '대한민국 경기도 안산시 단원구 대부북동 697-6',
 '대한민국 경기도 안산시 단원구 고잔동 713',
 '대한민국 경기도 안산시 상록구 본오동 723-2',
 '대한민국 경기도 안산시 상록구 본오3동 각골로4길 29',
 '대한민국 경기도 안산시 상록구 부곡동 446-3',
 '대한민국 경기도 안산시 단원구 초지동 725-1',
 '대한민국 경기도 안산시 단원구 호수동 광덕2로 222',
 '대한민국 경기도 안산시 단원구 고잔동 677',
 '대한민국 경기도 안산시 상록구 성포동 충장로 538',
 '대한민국 경기도 안산시 상록구 사동 1582',
 '대한민국 경기도 안산시 단원구 와동 828',
 '대한민국 경기도 안산시 상록구 안산동 청룡4길 8',
 '대한민국 경기도 안산시 단원구 고잔동 단원로 55',
 '대한민국 경기도 안산시 상록구 이동 665',
 '대한민국 경기도 안산시 상록구 안산동 청룡4길 8',
 '대한민국 경기도 안산시 단원구 원곡동 신길로 45',
 '대한민국 경기도 안산시 단원구 고잔동 단원로 55',
 '대한민국 경기도 안산시 상록구 이동 665',
 '대한민국 경기도 안산시 단원구 초지동 725-1',
 '대한민국 경기도 안산시 상록구 사동 1582',
 '대한민국 경기도 안산시 단원구 대부북동 697-6',
 '대한민국 경기도 안산시 단원구 호수동 광덕2로 222',
 '대한민국 경기도 안산시 단원구 고잔동 677',
 '대한민국 경기도 안산시 상록구 사동 1273',
 '대한민국 경기도 안산시 상록구 본오3동 각골로4길 29',
 '대한민국 경기도 안산시 상록구 월피동 236-37',
 '대한민국 경기도 안산시 상록구 성포동 충장로 538',
 '대한민국 경기도 안산시 단원구 선부2동 990',
 '대한민국 경기도 안산시 상록구 부곡동 446-3',
 '대한민국 경기도 안산시 단원구 원곡본동 화랑로 15',
 '대한민국 경기도 안산시 상록구 본오동 723-2',
 '대한민국 경기도 안산시 단원구 고잔동 713',
 '대한민국 경기도 안산시 상록구 본오1동 충장로 56',
 '대한민국 경기도 안산시 단원구 와동 828',
 '대한민국 경기도 안산시 단원구 선부2동 990',
 '대한민국 경기도 안산시 상록구 월피동 236-37',
 '대한민국 경기도 안산시 상록구 본오3동 각골로4길 29',
 '대한민국 경기도 안산시 상록구 부곡동 446-3',
 '대한민국 경기도 안산시 단원구 원곡동 신길로 45',
 '대한민국 경기도 안산시 상록구 이동 665',
 '대한민국 경기도 안산시 단원구 고잔동 단원로 55',
 '대한민국 경기도 안산시 상록구 성포동 충장로 538',
 '대한민국 경기도 안산시 상록구 본오동 723-2',
 '대한민국 경기도 안산시 상록구 사동 1273',
 '대한민국 경기도 안산시 단원구 초지동 725-1',
 '대한민국 경기도 안산시 단원구 고잔동 677',
 '대한민국 경기도 안산시 단원구 호수동 광덕2로 222',
 '대한민국 경기도 안산시 단원구 와동 828',
 '대한민국 경기도 안산시 상록구 안산동 청룡4길 8',
 '대한민국 경기도 안산시 상록구 본오1동 충장로 56',
 '대한민국 경기도 안산시 단원구 고잔동 713',
 '대한민국 경기도 안산시 단원구 원곡본동 화랑로 15',
 '대한민국 경기도 안산시 단원구 대부북동 697-6',
 '대한민국 경기도 안산시 상록구 사동 1582']

In [16]:
# 위도
school_lat

[37.3330986,
 37.3410035,
 37.334393,
 37.3401712,
 37.28367799999999,
 37.2868568,
 37.2476993,
 37.3094523,
 37.287734,
 37.3001459,
 37.3314463,
 37.309841,
 37.3087168,
 37.3260616,
 37.3261465,
 37.302509,
 37.3345325,
 37.3600026,
 37.32757910000001,
 37.3107859,
 37.3600026,
 37.334393,
 37.32757910000001,
 37.3107859,
 37.309841,
 37.302509,
 37.2476993,
 37.3087168,
 37.3260616,
 37.28367799999999,
 37.3001459,
 37.3401712,
 37.3261465,
 37.3410035,
 37.3314463,
 37.3330986,
 37.287734,
 37.3094523,
 37.2868568,
 37.3345325,
 37.3410035,
 37.3401712,
 37.3001459,
 37.3314463,
 37.334393,
 37.3107859,
 37.32757910000001,
 37.3261465,
 37.287734,
 37.28367799999999,
 37.309841,
 37.3260616,
 37.3087168,
 37.3345325,
 37.3600026,
 37.2868568,
 37.3094523,
 37.3330986,
 37.2476993,
 37.302509]

In [17]:
# 경도
school_lng

[126.797467,
 126.7938827,
 126.787634,
 126.8460443,
 126.8406019,
 126.8585697,
 126.5784451,
 126.8220475,
 126.86871,
 126.8696344,
 126.8575986,
 126.8108263,
 126.8352674,
 126.8334903,
 126.8513391,
 126.842351,
 126.8181305,
 126.8736244,
 126.8240744,
 126.8455452,
 126.8736244,
 126.787634,
 126.8240744,
 126.8455452,
 126.8108263,
 126.842351,
 126.5784451,
 126.8352674,
 126.8334903,
 126.8406019,
 126.8696344,
 126.8460443,
 126.8513391,
 126.7938827,
 126.8575986,
 126.797467,
 126.86871,
 126.8220475,
 126.8585697,
 126.8181305,
 126.7938827,
 126.8460443,
 126.8696344,
 126.8575986,
 126.787634,
 126.8455452,
 126.8240744,
 126.8513391,
 126.86871,
 126.8406019,
 126.8108263,
 126.8334903,
 126.8352674,
 126.8181305,
 126.8736244,
 126.8585697,
 126.8220475,
 126.797467,
 126.5784451,
 126.842351]

In [18]:
# 학교 위치 저장
ansan_highschool['주소'] = school_addreess
ansan_highschool['lat'] = school_lat
ansan_highschool['lng'] = school_lng
ansan_highschool.head(1)

C:\Users\HYU\Miniconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\HYU\Miniconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\HYU\Miniconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,기준년도,시군명,지역교육청명,지역명,학교명,학교급명,설립구분명,주야간명,제외여부,제외사유,...,취업여자수(명),취업합계(명),취업비율(%),기타남자수(명),기타여자수(명),기타합계(명),기타비율(%),주소,lat,lng
225,2017,안산시,경기도교육청,경기도 안산시 단원구,원곡고등학교,고등학교,공립,주간,N,NaN,...,1.0,7.0,1.5,73.0,45.0,118.0,25.2,대한민국 경기도 안산시 단원구 원곡본동 화랑로 15,37.333099,126.797467

In [ ]:
# 그래프 그릴 때 학교명을 기준으로 설정

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 피벗 테이블 "지역명","학교명", "기준년도"

In [ ]:
# 피벗 테이블  index=["기준년도", "지역명","학교명"], values=["졸업합계(명)","진학합계(명)","취업합계(명)","기타합계(명)"

In [ ]:
# 시각화 패키지 matplotlib과 seaborn 불러오기
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# 폰트 문제 해결하기
import platform

path = "c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [ ]:
# 상관관계 플롯 y_vars=["진학합계(명)","취업합계(명)","기타합계(명)"], x_vars="졸업합계(명)"

In [ ]:
# 박스 플롯 x="기준년도", y="진학비율(%)", hue="지역명"
plt.figure(figsize=(8,6))
sns.boxplot(x="기준년도", y="진학비율(%)", hue="지역명", data=ansan_highschool, palette="Set3") 
plt.show()

In [ ]:
# 박스 플롯 x="기준년도", y="진학비율(%)", hue="설립구분명"

In [ ]:
# 박스 플롯 x="기준년도", y="취업비율(%)", hue="지역명"

In [ ]:
# 박스 플롯 x="기준년도", y="취업비율(%)", hue="설립구분명"

In [ ]:
# 2017년도만 다뤄보자

In [ ]:
# 검거 열을 최대치 100으로 환산

In [ ]:
# 졸업학생 수의 상대적 비율로 정렬

## 시각화

In [ ]:
# 한국 지도 형태 가져오기
import folium
import json
geo_path = 'skorea_municipalities_geo_simple.json'
geo_str = json.load(open(geo_path, encoding='utf-8'))

In [ ]:
map = folium.Map(location=[37.303431, 126.8357822], zoom_start=12)
                 
for n in ansan_highschool_2017_sort.index:
    folium.Marker([ansan_highschool_2017_sort['lat'][n], 
                   ansan_highschool_2017_sort['lng'][n]]).add_to(map)
map

In [ ]:
# 검거에 적당한 값(10)을 곱해서 원 넓이를 정하고, 경찰서의 검거율을 원의 넓이로 표현한다.
map = folium.Map(location=[37.303431, 126.8357822], zoom_start=12)

for n in ansan_highschool_2017_sort.index:
    folium.CircleMarker([ansan_highschool_2017_sort['lat'][n], ansan_highschool_2017_sort['lng'][n]], 
                        radius = ansan_highschool_2017_sort['취업비율(%)'][n]*10, 
                        color='#3186cc', fill_color='#3186cc', fill=True).add_to(map)
    
map

In [ ]:
# 검거에 적당한 값(10)을 곱해서 원 넓이를 정하고, 경찰서의 검거율을 원의 넓이로 표현한다.
map = folium.Map(location=[37.303431, 126.8357822], zoom_start=12)

for n in ansan_highschool_2017_sort.index:
    folium.CircleMarker([ansan_highschool_2017_sort['lat'][n], ansan_highschool_2017_sort['lng'][n]], 
                        radius = ansan_highschool_2017_sort['진학비율(%)'][n]*0.4, 
                        color='#3186cc', fill_color='#3186cc', fill=True).add_to(map)
    
map